@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: 'Open Sans',sans-serif;
}
.forgot{
    font-size: 15px;
    margin-left: 190px;
}
#details{
    margin-top: 40px;
    margin-left: 30px;
}
a > button{
    float: right;
    margin-right: 50px;
}
p{
    font-size: 20px;
}
p > a{
    font-size: 20px;
}
hr{
    margin-top: 50px;
}
.signedIn{
    font-size: 25px;
    float: right;
    margin-right: 50px;
}
.col-12 {
    width: 100%;
}
.success{
    font-size: 30px;
    color: green;
}
.error{
    font-size: 30px;
    color: tomato;
}
h2{
    color: steelblue;
}
h1{
    color: steelblue;
}
table{
    border-collapse: collapse;
    font-size: 20px;
    border: solid 2px grey;
}
td{
    padding: 10px;
}
th{
    padding: 10px;
}
.col-6{
    width: 50%;
}
.form-group{
    font-size: 20px;
}
.navbar{
    width : 100%;
    background-color: #383838;
    overflow: auto;
    height: 50px;
}
.navbar-brand{
    color: white;
    font-size: 25px;
    margin-left: 10px;
}
.nav-item{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
a:hover{
    color: rgb(47, 103, 187);
}
.mt-5{
    margin-top: 50px;
}
td > input{
    width: 170px;
}
.ml-5{
    margin-left: 50px;
}
.ml-3{
    margin-left: 30px;
}
a{
    text-decoration: none
}
body > a { 
    color: #14262e;
    font-size: 20px;
}
input {
    width: 200px;
    border-radius: 3px;
    border: 1px solid gray;
    height: 30px;
    font-size: 15px;
}
button {
    width: 200px;
    border-radius: 3px;
    border: 1px solid teal;
    height: 30px;
    font-size: 15px;
}
.custom-select {
    border-radius: 4px;
    width: 200px;
    border: 1px solid gray;
    margin-left: 20px;
    height: 30px;
    font-size: 15px;    
}
.btn-primary {
    background-color: #217ea6;
    color: white;
    border: 1px solid teal;
    cursor: pointer;
}
.ui-date-picker-div{
    background-color: #383838;
}
.ui-date-picker-prev{
    cursor: pointer;
}
.ui-date-picker-next{
    cursor: pointer;
}
small{
    color: tomato;
}
.row > .error{
    font-size: 10px;
}
span{
    color: steelblue;s
}